body{
  background-image: url(http://i.imgur.com/ya3DLre.gif);
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
  text-align: center;
  border: 10px dashed black;
  color:rgb(12, 227, 32);
  margin: 40px;
}

p{
  font-weight: bold;
  color:rgb(82, 14, 7);
  font-size:40px;
}

.carousel-inner .item img {
    margin: 0 auto;
}

button {
  margin: 0 auto;
}

.center {
  text-align: center;
}
