body {
    background-image: url(http://vignette1.wikia.nocookie.net/fairytail/images/a/a6/Natsu_and_gray_best_friends.gif/revision/latest?cb=20111010232556);
    background-repeat: no-repeat;
    background-size: cover
}

div.top {
    margin-bottom: 160px;
}
h1 {
    color: rgb(219, 72, 18);
    background-color: rgba(255, 0, 0, 0.5);
}

p {
    color: rgb(236, 9, 9);
    font-size: 40px;
    border: rgb(180, 89, 14) dashed 10px;
    background-color: rgba(88, 249, 80,0.5);
}

.carousel-inner .item img {
    margin: 0 auto;
}

.center {
  text-align: center;
}
